body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.nav-item {
    margin-left: 5vw;
    height: 100%;
}

.nav {
    width: 100vw;
    padding: 0 10vw;
    height: 5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
    background-color: #EEEEEE;
}

.nav-item:hover {
    background-color: #F3F3F3;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    .homepage-card {
        margin-top: 10vh;
        width: 75vw;
        background-color: #EEEEEE;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: stretch;
        height: 50vh;
        padding: 0 auto;
    }
}


.card-body {

    height: 80%;
    overflow: hidden;

}

.btn-secondary {
    display: block;
}

.right-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.right-container > button {
    margin-bottom: 1em;
    background-color:
}

.card img {
    height: 100%;
    width: 450px;
    object-fit: cover;
}

.right-container a {
    margin-bottom: 1em;
    text-decoration: none;
}

.right-container .btn-secondary {
    background-color: white;
    color: #0c6dfd;
    border: #0c6dfd 2px solid;
    transition: all 0.3s;
}

.right-container .btn-secondary:hover {
    background-color: #8fbcff;
    color: white;
    border-color: white;
}

footer {
    margin-top: 20vh;
    height: 30vh;
    width: 100%;
    background-color: #EEEEEE;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

table {
    text-align: center;
}

.table-container {
    margin-top: 10vh;
    width: 80vw;
}

.table-title span {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    font-style: normal;
}

.table-title {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}

.table-rating {
    font-size: 2em;
}

table td img {
    object-fit: cover;
    width: 10em;
    hieght: 15em;
}

table td {
    vertical-align: middle;
}

.preference-container {
    margin-top: 10vh;
}

.preference-container form {
    display: flex;
    flex-flow: column nowrap;
}

.preference-container form label {
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
    .homepage-card {
        flex-flow: column nowrap;
        margin-top: 10vh;
        width: 95vw;
        background-color: #EEEEEE;
    }

    .card img {
        width: 100%;
        height: 25%;
    }

    .card-body {
        font-size: 1em;
    }

    td img {
        width: 1em;
    }

}
