body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.nav-item {
    margin-left: 5vw;
    height: 100%;
}

.nav {
    width: 80vw;
    height: 5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
}

.nav-item:hover {
    background-color: #F3F3F3;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#homepage-card {
    margin-top: 10vh;
    width: 75vw;
    background-color: lightgray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    height: 50vh;
    padding: 0 auto;
}

.card-body {

    height: 80%;
    overflow: hidden;

}

.btn-secondary {
    display: block;
}

.right-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.right-container > button {
    margin-bottom: 1em;
    background-color:
}