{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="POST">
        <div class="form-group">
            <input class="form-control" name="old_password" placeholder="Old Password" required type="password">
            <br>
            <input class="form-control" name="new_password" placeholder="New Password" required type="password">
            <br>
            <input class="form-control" name="confirmation" placeholder="Confirm New Password" required type="password">
            <br>
            <button class="btn btn-primary" type="submit">Change Password</button>
        </div>
    </form>

{% endblock %}