{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="POST">
        <input name="old_password" placeholder="Old Password" required type="password">
        <input name="new_password" placeholder="New Password" required type="password">
        <input name="confirmation" placeholder="Confirm New Password" required type="password">
        <br>
        <input type="submit" value="Change Password">
    </form>

{% endblock %}