{% extends "layout.html" %}

{% block title %}
    Delete Account
{% endblock %}

{% block main %}
    <h3>Are you sure you want to delete your account?</h3>
    <form action="/delete_account" method="POST">
        <label>Enter username:</label>
        <input name="username" placeholder="Username..." type="text" required>
        <button class="btn btn-primary" type="submit">Yes</button>
        <a href="/account"><button class="btn btn-secondary" type="button">No, go back</button></a>
    </form>
{% endblock %}