{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div class="money-container">
        <h3 class="user_cash">Wallet: <span>{{ user_cash }}</span></h3>
        <h3 class="user_cash">Total: <span> {{ net_worth }}</span></h3>
    </div>
    <div class="stock-container">
        <table class="table">
            <thead>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Stock Price</th>
                <th>Total</th>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock["symbol"] }}</td>
                        <td>{{ stock["shares"] }}</td>
                        <td>{{ stock["price"] }}</td>
                        <td>{{ stock["value"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}