{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<h1 class="display-4">Sell Stock</h1>
<form action="/buy" method="POST">
    <label name="symbol">Stock Symbol:</label>
    <select name="symbol" required>
        {% for stock in stocks %}
            <option>{{ stock["symbol"] }}</option>"
        {% endfor %}
    </select>
    <input name="shares" placeholder="Number of Shares" required type="text">
    <input type="submit" value="Sell Shares">
</form>

{% endblock %}